# Repro-only boot stability overrides
CONFIG_KUNIT=n
CONFIG_KASAN_KUNIT_TEST=n
CONFIG_KUNIT_DEFAULT_ENABLED=n
CONFIG_KUNIT_AUTORUN_ENABLED=n
CONFIG_KCOV=n
CONFIG_KCOV_SELFTEST=n
CONFIG_KCOV_INSTRUMENT_ALL=n
CONFIG_KALLSYMS_SELFTEST=n
CONFIG_STATIC_KEYS_SELFTEST=n
CONFIG_STATIC_CALL_SELFTEST=n
CONFIG_RING_BUFFER_STARTUP_TEST=n
CONFIG_DEBUG_OBJECTS_SELFTEST=n
CONFIG_DEBUG_LOCKING_API_SELFTESTS=n
CONFIG_DEBUG_NMI_SELFTEST=n
CONFIG_OF_UNITTEST=n
CONFIG_KGDB_TESTS=n
CONFIG_KGDB_TESTS_ON_BOOT=n
CONFIG_BTRFS_FS_RUN_SANITY_TESTS=n
CONFIG_LWQ_TEST=n
CONFIG_GUP_TEST=n
CONFIG_PM_TEST_SUSPEND=n
